body {
  -webkit-overflow-scrolling: touch;
  background: #fff !important; }

body, a {
  color: #111 !important;
  transition: 0.15s all linear !important; }

.portfolio-link {
  cursor: pointer;
  color: #008CEC !important; }

.portfolio-link div {
  -webkit-transition: 0.15s all linear;
  -moz-transition: 0.15s all linear;
  -o-transition: 0.15s all linear;
  transition: 0.15s all linear;
  color: #008CEC; }

.portfolio-link:hover div {
  color: #005FA0 !important; }

.stackoverflow-link:after {
  background-color: #EC6000; }

.contact-link:after {
  background-color: #5a5a5a; }

/*---------------------------*/
.portfolio-title {
  text-align: center;
  font-size: 1.414em !important;
  font-weight: 200;
  color: #232323; }

.portfolio-subtitle {
  text-align: center;
  font-size: 1em;
  font-weight: 600; }

.portfolio-content {
  display: none;
  width: 100%;
  position: relative;
  top: 60px;
  font-size: 1.7em; }

.projects-container {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: 1em;
  margin-bottom: 12rem; }

.project {
  margin: 2em;
  margin-left: 2.5em;
  margin-right: 2.5em;
  padding: 0.5em;
  z-index: 2;
  max-width: 640px;
  -webkit-transition: 0.15s all linear;
  -moz-transition: 0.15s all linear;
  -o-transition: 0.15s all linear;
  transition: 0.15s all linear;
  display: inline-block; }

.project-title {
  margin-bottom: 1em;
  font-size: 1.414em;
  font-weight: 700; }

.project-title > .fa-external-link {
  font-size: 1em;
  color: #111111;
  width: 16px;
  height: auto; }

.project-mockup {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  max-width: 100%; }

.project-description {
  text-align: left;
  margin-top: 3em;
  font-size: 0.5em; }

.project-dev-icons i {
  font-size: 6rem;
  color: #4a4a4a !important; }

.project-technologies {
  font-weight: 600;
  font-size: 1em;
  color: #000 !important; }

.technologies-list {
  width: 100%;
  color: #232323;
  visibility: visible;
  opacity: 1;
  line-height: 2;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-weight: 500;
  font-size: 0.707em;
  margin-top: 10px;
  letter-spacing: 1px; }

.technologies-list li {
  border: solid #232323 1px;
  background: #232323;
  color: #fff;
  padding: 3px 8px;
  margin: 2px 0;
  margin-right: 4px;
  margin-left: 0; }

/*.technologies-list li::before{
    content:"";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 6px 0 0;
    border-color: $darkergray transparent transparent transparent;
    position:absolute;
    top:0;
    left:0;
}*/
.portfolio-home-button {
  cursor: pointer;
  width: 100%;
  max-width: 160px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #eee !important;
  background: #111;
  font-size: 1.414rem;
  -webkit-transition: all 0.15s ease-out;
  -moz-transition: all 0.15s ease-out;
  -o-transition: all 0.15s ease-out;
  transition: all 0.15s ease-out;
  display: block;
  font-weight: 600;
  margin-bottom: 4rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  padding: 8px; }

.portfolio-home-button:hover {
  color: #fff !important;
  background: #000; }

/*main content on portfolio click*/
@keyframes zoomingPast {
  0% {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0); }
  100% {
    /*@include transform(translateY(-70vh) scaleY(0.8));*/
    -webkit-transform: scaleX(0.8) translateX(-100vw) translateZ(0);
    -moz-transform: scaleX(0.8) translateX(-100vw) translateZ(0);
    -o-transform: scaleX(0.8) translateX(-100vw) translateZ(0);
    transform: scaleX(0.8) translateX(-100vw) translateZ(0);
    opacity: 0.5; } }

/*bringing portfolio content to view*/
@keyframes zoomingToward {
  0% {
    /*@include transform(scaleX(0.8) translateY(35vh));*/
    -webkit-transform: translateX(80vw) scaleX(0.8) translateZ(0);
    -moz-transform: translateX(80vw) scaleX(0.8) translateZ(0);
    -o-transform: translateX(80vw) scaleX(0.8) translateZ(0);
    transform: translateX(80vw) scaleX(0.8) translateZ(0);
    opacity: 0; }
  100% {
    /*@include transform(scaleX(1) translateY(0vh));*/
    -webkit-transform: translateX(0) scaleX(1) translateZ(0);
    -moz-transform: translateX(0) scaleX(1) translateZ(0);
    -o-transform: translateX(0) scaleX(1) translateZ(0);
    transform: translateX(0) scaleX(1) translateZ(0);
    opacity: 1; } }

/*hiding portfolio content again*/
@keyframes zoomingAway {
  0% {
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0); }
  100% {
    -webkit-transform: scaleX(0.8) translateX(100vw) translateZ(0);
    -moz-transform: scaleX(0.8) translateX(100vw) translateZ(0);
    -o-transform: scaleX(0.8) translateX(100vw) translateZ(0);
    transform: scaleX(0.8) translateX(100vw) translateZ(0);
    opacity: 0; } }

/*showing main content again*/
@keyframes zoomingIn {
  0% {
    -webkit-transform: translateX(-80vw) scaleX(0.8) translateZ(0);
    -moz-transform: translateX(-80vw) scaleX(0.8) translateZ(0);
    -o-transform: translateX(-80vw) scaleX(0.8) translateZ(0);
    transform: translateX(-80vw) scaleX(0.8) translateZ(0); }
  100% {
    -webkit-transform: translateX(0) scaleX(1) translateZ(0);
    -moz-transform: translateX(0) scaleX(1) translateZ(0);
    -o-transform: translateX(0) scaleX(1) translateZ(0);
    transform: translateX(0) scaleX(1) translateZ(0); } }

.zoomPast {
  -webkit-animation: zoomingPast 0.3s ease-in-out forwards;
  -moz-animation: zoomingPast 0.3s ease-in-out forwards;
  -o-animation: zoomingPast 0.3s ease-in-out forwards;
  animation: zoomingPast 0.3s ease-in-out forwards; }

.zoomToward {
  -webkit-animation: zoomingToward 0.3s ease-in-out forwards;
  -moz-animation: zoomingToward 0.3s ease-in-out forwards;
  -o-animation: zoomingToward 0.3s ease-in-out forwards;
  animation: zoomingToward 0.3s ease-in-out forwards;
  display: block; }

.zoomAway {
  -webkit-animation: zoomingAway 0.3s ease-in-out forwards;
  -moz-animation: zoomingAway 0.3s ease-in-out forwards;
  -o-animation: zoomingAway 0.3s ease-in-out forwards;
  animation: zoomingAway 0.3s ease-in-out forwards; }

.zoomIn {
  -webkit-animation: zoomingIn 0.3s ease-in-out forwards;
  -moz-animation: zoomingIn 0.3s ease-in-out forwards;
  -o-animation: zoomingIn 0.3s ease-in-out forwards;
  animation: zoomingIn 0.3s ease-in-out forwards; }

.zoomPast, .zoomToward, .zoomAway, .zoomIn {
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-perspective: 1000;
  perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000; }

@media only screen and (min-width: 768px) {
  .project-mockup {
    position: relative;
    right: 0;
    max-width: none; } }

@media only screen and (max-width: 767px) {
  .project-description {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em; }
  .project {
    margin-left: 0.5em;
    margin-right: 0.5em; }
  .technologies-list {
    justify-content: center; } }

